.trestle-active-job-header-button {
    float: right;
    margin: 6px 16px;
    font-size: 26px;
}

.trestle-active-job-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
    margin-top: 1rem;
}

.trestle-active-job-grid .trestle-active-job-name {
    margin-left: 1rem;
}
